#!/usr/bin/env nextflow

// Image is called specifically for this directory structure, susceptible of change in the future
cleanup = false

profiles {
	standard {
        singularity.runOptions = '-B /media'
        singularity.enabled = true
        process.container = './Singularity/Demultiplexing/'
        params{BBDD = '/media/bioinfo/Seagate_Expansion_Drive'}
    }
    cluster {
        workDir = '/data_store/sergio/nf_work'
		singularity.runOptions = '-B /data_store'
		singularity.enabled = true
        process.container = './Singularity/Demultiplexing/'
        params{BBDD = '/data_store'}
    }
}

params {

    //Setting Directories-------------
    working_dir = "~/Demultiplexing"

    inputBCLdir = ""
    demult_threads = 4

    output = "${params.inputBCLdir}/Data/Intensities/BaseCalls"

    //scripts_dir = "scripts" //<- currently not using modules

    threads = 1

}