#!/usr/bin/env nextflow

// Image is called specifically for this directory structure, susceptible of change in the future
cleanup = false

profiles {
	standard {
        singularity.runOptions = '-B /media'
        singularity.enabled = true
        process.container = './Singularity/Demultiplexing/'
        params{BBDD = '/media/bioinfo/Seagate_Expansion_Drive'}
    }
    cluster {
        workDir = '/data_store/sergio/nf_work'
		singularity.runOptions = '-B /data_store'
		singularity.enabled = true
        process.container = './Singularity/Demultiplexing/'
        params{BBDD = '/data_store'}

        process {
            withLabel: basic_proc {
            executor = 'slurm'
            memory = 32.GB
            time = 150.h
            clusterOptions = '-N 1 -n 8 --tasks-per-node=8 --partition=batch --account=sergio --output=/input/sergio/log/log-%j.o --error=/input/sergio/log/log-%j.e'
            maxForks = 1
            }
        }
    }
    cmag {
        workDir = '/home/HURYC01/nf_work'
		singularity.runOptions = '-B /genomica'
		singularity.enabled = true
        process.container = './Singularity/Demultiplexing/'
        params{BBDD = '/genomica'}

        process {
            withLabel: basic_proc {
            executor = 'slurm'
            memory = 32.GB
            time = 150.h
            clusterOptions = '-N 1 -n 8 --tasks-per-node=8 --partition=batch --account=sergio --output=/home/HURYC01/log/log-%j.o --error=/home/HURYC01/log/log-%j.e'
            maxForks = 1
            }
        }
    }
}

params {

    help = false

    //Setting Directories-------------
    working_dir = "/input/sergio/Demultiplexing"

    inputBCLdir = ""
    demultiplexing_threads = 4

    output = "${params.inputBCLdir}/Data/Intensities/BaseCalls"

    //scripts_dir = "scripts" //<- currently not using modules

    threads = 1
    IndexSize = 8 //default value
    UMISize = 10 //default value

    UMI = false

}