#!/usr/bin/env nextflow

process.container = '../GermlineSingularity/GermlineApps/' 
// Image is called specifically for this directory structure, susceptible of change in the future
singularity.enabled = true
cleanup = false

params{
  
  // Params for debugging -----------------------

  skipMain = false

}

params {

    //General params---------------------------
    indir = "data"
    //Setting Directories-------------
    working_dir = "~/Demultiplexing"

    inputBCLdir = "/mnt/e/Trabajo/UMI/200207_M03698_0305_000000000-CR4FP/Data/Intensities/BaseCalls/"
    outdir = "my-results"

    //scripts_dir = "scripts" //<- currently not using modules
 


    threads = 1

	paired = true
	prefix = "out" //prefix for output file
    platform = "ILLUMINA"
    genome = "GRCh37"
    RG = '' //Read Groups

}

params {

	//Processing params ExtractIlluminaCalls

	barcode_file = 'NO_FILE'
	read_structure = '251T8B9M8B251T' //Specific for development example
	lane = 1 // Default
	barcodes_out='barcodes_outputdir'
	metrics_file = 'barcode_metrics.txt'
}
